{% include base_path %}

<!-- start custom head snippets -->

<!-- Support for Academicons -->
<link rel="stylesheet" href="{{ base_path }}/assets/css/academicons.css"/>

<!-- favicon from https://commons.wikimedia.org/wiki/File:OOjs_UI_icon_academic-progressive.svg -->
<link rel="apple-touch-icon" sizes="180x180" href="{{ base_path }}/images/apple-touch-icon-180x180.png"/>
<link rel="icon" type="image/svg+xml" href="{{ base_path }}/images/favicon.svg"/>
<link rel="icon" type="image/png" href="{{ base_path }}/images/favicon-32x32.png" sizes="32x32"/>
<link rel="icon" type="image/png" href="{{ base_path }}/images/favicon-192x192.png" sizes="192x192"/>
<link rel="manifest" href="{{ base_path }}/images/manifest.json"/>
<link rel="icon" href="/images/favicon.ico"/>
<meta name="theme-color" content="#f6f7f6"/>
<meta property="og:type" content="website"/>
<meta property="og:title" content="{{ page.title | default: site.title | escape }}"/>
<meta property="og:description" content="{{ site.description | escape }}"/>
<meta property="og:image" content="{{ base_path }}/images/research-banner.png"/>
<meta property="og:url" content="{{ page.url | absolute_url }}"/>
<meta name="twitter:card" content="summary_large_image"/>
<meta name="twitter:title" content="{{ page.title | default: site.title | escape }}"/>
<meta name="twitter:description" content="{{ site.description | escape }}"/>
<meta name="twitter:image" content="{{ '/images/research-banner.png' | absolute_url }}"/>

<!-- end custom head snippets -->
